.invoice {
  min-height: 100vh;
  width: 75%;
  background-color: #fff;
  border: 1px solid #8080804d;
  border-radius: 4px;
  margin: 32px auto;
  padding: 80px 44px;
}

.table-responsive {
  border: 1px solid #dee2e6;
  border-radius: 4px;
}

.table {
  margin: 0;
  color: inherit;
}

.table thead,
.table tfoot {
  background-color: #f7f7f7;
}

.table > :not(:first-child) {
  border-top: 0;
}

.table > :not(caption) > * > * {
  padding: 1rem 1rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.invoice__btn {
  border: 1px solid #dee2e6;
  color: inherit;
  text-decoration: none;
  padding: 4px 8px;
  font-size: 18px;
  font-weight: 300;
  background-color: #f7f7f7;
  cursor: pointer;
}

.invoice__btn:hover {
  color: inherit;
}

.invoice__btn svg {
  height: 18px;
  opacity: 0.9;
}

.invoice__btn:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.invoice__btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

@media screen and (max-width: 768px) {
  .invoice {
    width: 100%;
    margin: 0;
    padding: 40px 22px;
    border-radius: 0;
  }
}

@media print {
  .invoice {
    width: 100%;
    border: none;
    margin: 0;
    padding: 60px 44px;
  }

  .invoice__btn {
    display: none;
  }
}
